<!DOCTYPE html>
<html>
    <head>  
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/snowflake.png"> 
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <!--<img class="portriat" src="img\myphoto.jpg">-->
        
        <p>This is the amateur Nodejs developer</p>
        <a href="https://www.linkedin.com/in/dheeraj-a-s-348b3a103">Dheeraj A S</a>
        </div>
        {{>footer}}
    </body>
</html>