<!DOCTYPE html>
<html>
    <head>  
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/snowflake.png"> 
           <title>Help</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        
        <h2>How does it work?</h2>
        <p>Just type a valid location and hit search to get the weather!</p>
        <p>The app uses geocode API to get the co-ordinates of the location then it's passed onto the darksky API which returns the weather.</p>
        </div>
        {{>footer}}
    </body>
</html>